@import "../../styles/colors";

.items-wrapper {
	.item {
		&.item-rarity {
			&.common {
				background-image: linear-gradient(0deg, $commonDark, $commonLight, $commonDark);
				border: 4px solid $commonBorder;
			}

			&.uncommon {
				background-image: linear-gradient(0deg, $uncommonDark, $uncommonLight, $uncommonDark);
				border: 4px solid $uncommonBorder;
			}

			&.rare {
				background-image: linear-gradient(0deg, $rareDark, $rareLight, $rareDark);
				border: 4px solid $rareBorder;
			}

			&.epic {
				background-image: linear-gradient(0deg, $epicDark, $epicLight, $epicDark);
				border: 4px solid $epicBorder;
			}
		}

		img {
			width: 100%;
		}

	}
}
