$epicDark: #3e1b53;
$epicLight: #b181cd;
$epicBorder: #c968e9;
$rareDark: #173551;
$rareLight: #668ba8;
$rareBorder: #62d0f3;
$uncommonDark: #1b3f1b;
$uncommonLight: #75be6f;
$uncommonBorder: #72f95f;
$commonDark: #313639;
$commonLight: #90a2a4;
$commonBorder: #a7b6b9;
