@import "../../styles/colors";

.item {
	position: relative;
	&.item-rarity {
		&.common {
			background-image: linear-gradient(0deg, $commonDark, $commonLight, $commonDark);
			border: 4px solid $commonBorder;
		}

		&.uncommon {
			background-image: linear-gradient(0deg, $uncommonDark, $uncommonLight, $uncommonDark);
			border: 4px solid $uncommonBorder;
		}

		&.rare {
			background-image: linear-gradient(0deg, $rareDark, $rareLight, $rareDark);
			border: 4px solid $rareBorder;
		}

		&.epic {
			background-image: linear-gradient(0deg, $epicDark, $epicLight, $epicDark);
			border: 4px solid $epicBorder;
		}
	}

	.level {
		text-align: right;
		margin: 0;
		right: 10px;
		bottom: 10px;
		position: absolute;
		color: white;
		font-size: 18px;
	}

	@media screen and (max-width: 960px) {
		.level {
			right: 5px;
			bottom: 5px;
			font-size: 14px;
		}
	}

	img {
		width: 100%;
	}

}
