@import "../../styles/colors";

.modal {
  .modal-dialog {
    .modal-header {
      border-color: $borderColor;
    }
    .modal-content {
      background-color: $backgroundColor;
    }
    .modal-footer {
      border-color: $borderColor;
    }
  }
}
