@import "bootstrap/scss/bootstrap";
@import "./styles/colors";
@import "rc-slider/assets/index.css";
@font-face {
  font-family: EternalUiBold;
  src: url('./fonts/EternalUi2Bold-nRwLg.ttf');
}

@font-face {
  font-family: EternalAncient;
  src: url('./fonts/EternalAncient-8MXeg.ttf');
}

body {
  margin: 0;
  font-family: EternalUiBold, serif;
  background-color: $backgroundColor;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: EternalAncient, serif;
  color: $textColor;
  text-shadow: 0 0 4px $textShadowColor;
}

button {
  &.btn {
    &.btn-primary {
      color: $buttonPrimaryTextColor;
      background-color: $buttonPrimaryBackgroundColor;
      border: 3px solid $buttonPrimaryBorderColor;
    }
    &.btn-success {
      color: $buttonSuccessTextColor;
      background-color: $buttonSuccessBackgroundColor;
      border: 3px solid $buttonSuccessBorderColor;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
