@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: EternalUiBold;
  src: url('./fonts/EternalUi2Bold-nRwLg.ttf');
}
@font-face {
  font-family: EternalAncient;
  src: url('./fonts/EternalAncient-8MXeg.ttf');
}

body {
  margin: 0;
	font-family: EternalUiBold, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	font-family: EternalAncient, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
