@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: EternalUiBold;
  src: url('./fonts/EternalUi2Bold-nRwLg.ttf');
}

body {
  margin: 0;
  font-family: EternalUiBold, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
